.links line {
  stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 2;
}
.labelNode circle {
  stroke: #fff;
  stroke-width: 1.5px;
  fill: yellow;
  r: 5;
}
.userNode circle {
  stroke: #fff;
  stroke-width: 1.5px;
  fill: red;
  r: 10;
}
